<header class="site-header" id="siteHeader">
    <div class="container header-container">
        <a href="index.html" class="logo">
            <span class="logo-box">
                <img src="assets/img/branding/logo-ypl.png" />
            </span>
        </a>
        <button class="menu-toggle" id="menuToggle" type="button" aria-label="Abrir menú principal"
            aria-expanded="false" aria-controls="mainNav">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="main-nav" id="mainNav" aria-label="Menú principal">
            <ul>
                <li><a href="index.html" data-nav="inicio">Inicio</a></li>
                <li><a href="productos/index.html" data-nav="productos">Productos</a></li>
                <li><a href="servicios/index.html" data-nav="servicios">Servicios</a></li>
                <li><a href="nosotros/index.html" data-nav="nosotros">Nosotros</a></li>
                <li><a href="contacto/index.html" data-nav="contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>